* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 2px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

::-webkit-scrollbar-track {
    background-color: #F5F3F5;
    border-radius: 10px;
}

.solway-light {
    font-family: "Solway", serif;
    font-weight: 300;
    font-style: normal;
}

.solway-regular {
    font-family: "Solway", serif;
    font-weight: 400;
    font-style: normal;
}

.medium {
    font-family: "Solway", serif;
    font-weight: 500;
    font-style: normal;
}

.bold {
    font-family: "Solway", serif;
    font-weight: 700;
    font-style: normal;
}

.solway-extrabold {
    font-family: "Solway", serif;
    font-weight: 800;
    font-style: normal;
}

body {
    background-color: #F5F3F5;
    width: 100%;
    height: 100%;
    font-family: "Solway", serif;
    font-weight: 400;
    font-style: normal;
}

/* header */
header {
    background-color: #0C8383;
    height: 7vh;
    width: 100%;
    box-shadow: 1px 0px 10px black;
}

header nav {
    height: 7vh;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    list-style: none;
}

header a {
    cursor: pointer;
    position: relative;
    transition: ease .3s;
    text-decoration: none;
    color: #F5F3F5;
}

header a::after {
    content: '';
    position: absolute;
    height: 1.5px;
    width: 0;
    left: 0;
    bottom: 0;
    background: #F5F3F5;
    transition: width .3s;
}

header a:hover::after {
    width: 100%;
}

header img {
    width: 3vw;
}

/*login*/
.forms {
    display: flex;
    justify-content: flex-end;

    background-color: #1B264F;
}

.forms img {
    margin: auto;
    height: 35vh;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F5F3F5;
    height: 90vh;
    width: 30%;
}

.login-form a {
    cursor: pointer;
    position: relative;
    transition: ease .3s;
    text-decoration: none;
    color: #1a73e8;
}

.login-form a::after {
    content: '';
    position: absolute;
    height: 1.5px;
    width: 0;
    left: 0;
    bottom: 0;
    background: #1a73e8;
    transition: width .3s;
}

.login-form a:hover::after {
    width: 100%;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: #1a73e8 1px solid;
    border-radius: 10px;
    padding: 3vh 2vh;
}

.login input {
    border: none;
    outline: none;
    padding: 1vh 2vh;
    border-radius: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.login-form button {
    border: none;
    outline: none;
    padding: 1vh 2vh;
    border-radius: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
    background-color: #0C8383;
    align-self: flex-start;
}

.login-form p {
    text-align: center;
    margin-top: 10px;
}

/*footer*/
footer {
    height: 3vh;
    width: 100%;
    background-color: #0C8383;
    color: #F5F3F5;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

footer p {
    margin-right: 2%;
}

.full-size {
    width: 100vw;
    height: 100vh;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

#columns {
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
}

.column {
    display: flex;
    justify-content: flex-start;
    width: 30%;
    height: 90%;
    background-color: #F5F3F5;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
    padding: 1rem;
    margin: 0 2vw;
    flex-direction: column;
    align-items: center;
}

.taken {
    overflow-y: scroll;
    list-style: none;
    display: flex;
    flex-direction: column;
}

.taken li {
    padding: 15px 10px;
    margin: 10px;
    background-color: #dbdada;
    color: rgb(85, 85, 85);
    border: #d7d5d5 solid 1px;
    border-radius: 10%;
}

.department {
    margin: 0 !important;
    font-size: smaller;
    color: rgb(158, 158, 158);
}

.deadline {
    margin: 0 !important;
    font-size: x-small;
    color: #717171;
}

.description {
    margin: 0 !important;
    font-size: small;
    color: #3b3b3b;
}

.container {
    height: 90vh;
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container p {
    margin-top: 5vh;
    max-width: 85%;
}

.logout-button {
    cursor: pointer;
    transition: ease .3s;
    color: #F5F3F5;
    position: relative;
    border: none;
    background-color: #0C8383;
}

.logout-button::after {
    content: '';
    position: absolute;
    height: 1.5px;
    width: 0;
    left: 0;
    bottom: 0;
    background: #F5F3F5;
    transition: width .3s;
}

.logout-button:hover::after {
    width: 100%;
}

.logout-form {
    background-color: transparent;
    width: fit-content;
}

.button-container {
    position: relative;
    display: inline-block;
}

.dropdown-button {
    border: none;
    background-color: #dbdada;
}

.dropdown-button img {
    width: 20px;
    height: 20px;
    background-color: #dbdada;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1;
    width: 120px;
}

.dropdown-content a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.button-container:hover .dropdown-content {
    display: block;
}

.create-box {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-bottom: 30vh; */
}

.create-border {
    background-color: #F5F3F5;
    padding: 180px 280px;
    border: #1a73e8 1px solid;
    border-radius: 10%;
    box-shadow: black 5px 0px 50px;
}

.create-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 300px;
}

.create-form input {
    margin-bottom: 2vh;
    border: none;
    outline: none;
    padding: 1vh 2vh;
    border-radius: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
    width: 300px;
}

.create-form textarea {
    margin-bottom: 2vh;
    border: none;
    outline: none;
    padding: 1vh 2vh;
    border-radius: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.create-form select {
    margin-bottom: 2vh;
    border: none;
    outline: none;
    padding: 1vh 2vh;
    border-radius: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.create-form button {
    border: none;
    outline: none;
    padding: 1vh 2vh;
    border-radius: 30px;
    margin-bottom: 10px;
    margin-top: 15px;
    background-color: #0C8383;
    align-self: flex-start;
}

.create-form button:hover {
    background-color: #0c7777;
}

.edit-box {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-bottom: 30vh; */
}

.edit-border {
    background-color: #F5F3F5;
    padding: 100px 200px;
    border: #1a73e8 1px solid;
    border-radius: 10%;
    box-shadow: black 5px 0px 50px;
}

.edit-form {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
    width: 300px;
}

.edit-form input {
    margin-bottom: 2vh;
    border: none;
    outline: none;
    padding: 1vh 2vh;
    border-radius: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
    width: 300px;
}

.edit-form textarea {
    margin-bottom: 2vh;
    border: none;
    outline: none;
    padding: 1vh 2vh;
    border-radius: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.edit-form select {
    margin-bottom: 2vh;
    border: none;
    outline: none;
    padding: 1vh 2vh;
    border-radius: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
}

.edit-submit {
    border: none;
    outline: none;
    padding: 1vh 2vh;
    border-radius: 30px;
    margin-bottom: 10px;
    margin-top: 15px;
    background-color: #0C8383;
    align-self: flex-start;
}

.edit-submit:hover {
    background-color: #0c7777;
}

.remove-box {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* margin-bottom: 30vh; */
}

.remove-border {
    background-color: #F5F3F5;
    padding: 200px 300px;
    border: #1a73e8 1px solid;
    border-radius: 10%;
    box-shadow: black 5px 0px 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.remove-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 300px;
}

.remove-submit {
    border: none;
    outline: none;
    padding: 1vh 2vh;
    border-radius: 30px;
    margin-bottom: 10px;
    margin-top: 15px;
    background-color: #0C8383;
    align-self: center;
}

.remove-submit:hover {
    background-color: #0c7777;
}

.searchbar {
    width: 100%;
    margin-top: 2vh;
    height: 4vh;
}

.searchbar label {
    min-width: 0px !important;
    margin-right: 5px;
}

.searchbar form {
    display: flex;
    justify-content: center;
}

.searchbar input {
    border: #0C8383 solid 1.5px;
    outline: none;
    border-radius: 30px;
    margin-right: 5vw; 
    padding: 0px 6px;
}

.searchbar input:hover {
    border: #0c7777 solid 1.5px;
    background-color: #ddd;
}

.searchbar select {
    border: #0C8383 solid 1.5px;
    outline: none;
    border-radius: 30px;
    margin-right: 5vw; 
}

.searchbar select:hover {
    border: #0c7777 solid 1.5px;
    background-color: #ddd;
}

.searchbar button {
    border: #0C8383 solid 1.5px;
    outline: none;
    border-radius: 30px;
    padding: 0px 6px;
}

.searchbar button:hover {
    border: #0c7777 solid 1.5px;
    background-color: #ddd;
}

.department {
    margin: 0 !important;
    font-size: smaller;
    color: rgb(158, 158, 158);
}

.create-red {
    width: 97vw;
    /* height: 7vh; */
    left: 0;
    margin-left: 3vw;
}

.create-red a {
    padding: 15px 30px;
    border: #0C8383 solid 1.5px;
    border-radius: 30px;
    text-decoration: none;
    color: black;
    background-color: #ddd;
    box-shadow: black 2px 0px 10px;
}

.create-red a:hover {
    border: #0c7777 solid 1.5px;
    background-color: #d7d5d5;
}