.solway-light {
    font-family: "Solway", serif;
    font-weight: 300;
    font-style: normal;
}

.solway-regular {
    font-family: "Solway", serif;
    font-weight: 400;
    font-style: normal;
}

.medium {
    font-family: "Solway", serif;
    font-weight: 500;
    font-style: normal;
}

.bold {
    font-family: "Solway", serif;
    font-weight: 700;
    font-style: normal;
}

.solway-extrabold {
    font-family: "Solway", serif;
    font-weight: 800;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F5F3F5;
    width: 100%;
    height: 100%;
    font-family: "Solway", serif;
    font-weight: 400;
    font-style: normal;
}

/* header */
header {
    background-color: #0C8383;
    height: 7vh;
    width: 100%;
    box-shadow: 1px 0px 10px black;
}

header nav {
    height: 7vh;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;
    list-style: none;
}

header a {
    cursor: pointer;
    position: relative;
    transition: ease .3s;
    text-decoration: none;
    color: #F5F3F5;
}

header a::after {
    content: '';
    position: absolute;
    height: 1.5px;
    width: 0;
    left: 0;
    bottom: 0;
    background: #F5F3F5;
    transition: width .3s;
}

header a:hover::after {
    width: 100%;
}

header img {
    width: 3vw;
}

/*login*/
.forms {
    display: flex;
    justify-content: flex-end;

    background-color: #1B264F;
}

.forms img
{
    margin: auto;
    height: 35vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    background-color: #F5F3F5;

    height: 90vh;
    width: 30%;
}

form a {
    cursor: pointer;
    position: relative;
    transition: ease .3s;
    text-decoration: none;
    color: #1a73e8;
}

form a::after {
    content: '';
    position: absolute;
    height: 1.5px;
    width: 0;
    left: 0;
    bottom: 0;
    background: #1a73e8;
    transition: width .3s;
}

form a:hover::after {
    width: 100%;
}

.login {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    border: #1a73e8 1px solid;
    border-radius: 10px;

    padding: 3vh 2vh;
}

.login input {
    border: none;
    outline: none;

    padding: 1vh 2vh;
    border-radius: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
}

form button {
    border: none;
    outline: none;
    padding: 1vh 2vh;
    border-radius: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
    background-color: #0C8383;
    align-self: flex-start;
}

form p {
    text-align: center;
    margin-top: 10px;
}

/*footer*/
footer {
    height: 3vh;
    width: 100%;
    background-color: #0C8383;
    color: #F5F3F5;
    display: flex;
    align-items: center;
    justify-content: flex-end;

}

footer p {
    margin-right: 2%;
}

.full-size {
    width: 100vw;
    height: 100vh;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-col {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.takenlijst {
    height: 70vh;
    width: 100%;
}

#columns {
    height: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
}

.column {
    display: flex;
    justify-content: flex-start;
    width: 30%;
    height: 90%;
    background-color: #F5F3F5;
    border-radius: 10px;
    box-shadow: 1px 1px 10px black;
    padding: 1rem;
    margin: 0 2vw;
    flex-direction: column;
    align-items: center;
}

.taken {
    list-style: none;
    display: flex;
    flex-direction: column;
}

.container {
    height: 90vh;
    width: 70%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}



.container p {
    margin-top: 5vh;
    max-width: 85%;
}
